{% extends '../base.html' %}
{% load static %}
{% block content %}
<!-- Header-->
<header data-background="{% static 'img/header/18.jpg' %}" class="intro introhalf">
    <!-- Intro Header-->
    <div class="intro-body">
        <h1>About Us </h1>
        <h4>We commit to our values for decades now and decades yet to come.</h4>
    </div>
</header>
<!-- About-->
<section id="about" class="bg-dark2 section-small" style="background-color:#174E9C; color:#A9AABC">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Who We Are</h3>
                <p>Window Corner has more than 40 years of experience in façade and windows
                    field. First, we started in 1976 as AluBakir, a family business that offers
                    aluminum works and fabrications. We were among the first companies to
                    execute curtain walls and use high-end brands of aluminum profiles. Our aim
                    has always been to be the ultimate solution provider to reach an optimum
                    combination in terms of functionality and appearance. In 1998, with the introduction of PVC as an
                    alternative material into the Egyptian
                    market, we established a shareholding company called “Online” and extended our product range to
                    include Aluminum and PVC. Online
                    was also the first company in Egypt and the Middle East to use Fiberglass. Keeping our vision to
                    offer the best solution for all sectors,
                    Window Corner, a new brand, was introduced in 2012. It is specialized in residential facilities to
                    serve individual clients with all glass
                    works at home. Window Corner has a high level of customization and a dedicated team to meet each
                    individual’s own requirements.
                    We always seek to give an added value and offer our consultation to our clients to build a unique
                    cozy home.</p>
                <h2 class="classic">Window Corner</h2>
                <!-- <li><a href="" class="btn btn-border btn-lg page-scroll">About Us </a></li> -->
            </div>
        </div>
    </div>
</section>
<section class="bg-dark section-small" style=" background-color:#f3f3f3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 " style="color:#174E9C; ">
                <h2>Our Story </h2>
                <p>Window Corner has more than 40 years of experience in façade and windows
                    field. First, we started in 1976 as AluBakir, a family business that offers
                    aluminum works and fabrications. We were among the first companies to
                    execute curtain walls and use high-end brands of aluminum profiles. Our aim
                    has always been to be the ultimate solution provider to reach an optimum
                    combination in terms of functionality and appearance. In 1998, with the introduction of PVC as an
                    alternative material into the Egyptian
                    market, we established a shareholding company called “Online” and extended our product range to
                    include Aluminum and PVC. Online
                    was also the first company in Egypt and the Middle East to use Fiberglass. Keeping our vision to
                    offer the best solution for all sectors,
                    Window Corner, a new brand, was introduced in 2012. It is specialized in residential facilities to
                    serve individual clients with all glass
                    works at home. Window Corner has a high level of customization and a dedicated team to meet each
                    individual’s own requirements.
                    We always seek to give an added value and offer our consultation to our clients to build a unique
                    cozy home.</p>
                <!-- <h2 class="classic">Window Corner</h2> -->
                <!-- <li><a href="" class="btn btn-border btn-lg page-scroll">About Us </a></li> -->
            </div>
        </div>
    </div>
</section>
<section class="bg-dark2 section-small" style="background-color:#174E9C; color:#A9AABC">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-right">
                <h2>Our Values</h2>
                <p>Window Corner is a brand made exclusively for individuals to be able to receive a well-tailored
                    solution depending on their own
                    house. Our key values are Trust and Integrity. We work on building a long term relationship with our
                    clients to play a partner and
                    advisor role on all levels starting from design till after-sales maintenance.
                    We never encounter any conflict while doing so, because Window Corner is a fabricator, capable of
                    using all kinds of products to fulfil
                    the client’s desire in terms of Aesthetics, Safety & Security, Performance and Cost Optimization.
                    We have worked with more than 50 gated community compounds around Egypt including the most
                    prestigious developers like Sodic,
                    Palm Hills, New Giza, Emaar, Swan Lake, Kattameya Heights and Lake View.</p>
                <!-- <h2 class="classic">Window Corner</h2> -->
                <!-- <li><a href="" class="btn btn-border btn-lg page-scroll">About Us </a></li> -->
            </div>
        </div>
    </div>
</section>
{% endblock %}