{% extends 'base.html' %}
{% load static %}
{% block title %} Contact{% endblock %}
{% block content %}
<!-- Header-->
<header data-background="{% static 'img/pattern.jpg' %}" class="intro introhalf">
    <!-- Intro Header-->
    <div class="intro-body">
        <h1>Contact us</h1>
        <h4>SAY HELLO</h4>
    </div>
</header>
<!-- Contact Section-->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-5" style="color: #174E9C;">
                <h3>contact us</h3>
                <p>Feel free to contact us. A business has to be involving, it has to be fun, and it has to exercise
                    your creative instincts. Start where you are. Use what you have. Do what you can. Lorem ipsum dolor
                    sit amet, consectetur adipiscing elit.</p>
                <hr>
                <h5><i class="fa fa-map-marker fa-fw fa-lg"></i> 4 Ghernata St., Roxy , Heliopolis
                    , Cairo , Egypt.
                </h5>
                <h5><i class="fa fa-envelope fa-fw fa-lg"></i> <a style="color:#174E9C"
                        href=" mailto:info@window-corner.com">info@window-corner.com</a>
                </h5>
                <h5 style="color:#174E9C"><i class="fa fa-phone fa-fw fa-lg"></i>
                    <a href="tel:+201090090035" style="color:#174E9C">+20 109 009 0035 </a>
                </h5>
                <h5 style="color:#174E9C"><i class="fa fa-phone fa-fw fa-lg"></i>
                    <a href="tel:+20222581314" style="color:#174E9C">+20 222 581 314 </a>
                </h5>
            </div>
            <div class="col-md-5 col-md-offset-2" style="color:#174E9C">
                <h3>Say hello</h3>
                <!-- Contact Form - Enter your email address on line 17 of the mail/contact_me.php file to make this form work. For more information on how to do this please visit the Docs!-->
                <form id="contactForm" name="sentMessage" novalidate="">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="name" class="sr-only control-label">You Name</label>
                            <input id="name" type="text" placeholder="You Name" required=""
                                data-validation-required-message="Please enter name" class="form-control input-lg"><span
                                class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="email" class="sr-only control-label">You Email</label>
                            <input id="email" type="email" placeholder="You Email" required=""
                                data-validation-required-message="Please enter email"
                                class="form-control input-lg"><span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="phone" class="sr-only control-label">You Phone</label>
                            <input id="phone" type="tel" placeholder="You Phone" required=""
                                data-validation-required-message="Please enter phone number"
                                class="form-control input-lg"><span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="message" class="sr-only control-label">Message</label>
                            <textarea id="message" rows="2" placeholder="Message" required=""
                                data-validation-required-message="Please enter a message." aria-invalid="false"
                                class="form-control input-lg"></textarea><span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div id="success"></div>
                    <button type="submit" class="btn btn-blue">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Map Section-->
<div id="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.0501033493824!2d31.31325776459475!3d30.09275137324501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583e299c47d561%3A0xd93783d020a47f83!2sRoxy%20Square%2C%20El-Montaza%2C%20Heliopolis%2C%20Cairo%20Governorate!5e0!3m2!1sen!2seg!4v1610310025991!5m2!1sen!2seg"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
</div>
{% endblock %}