{% extends '../base.html'%}
{% load static %}
{% block title %} {% endblock %}
{% block content %}
<!-- Intro Slider-->
<header id="Carousel-intro" data-ride="carousel" class="intro carousel carousel-big slide carousel-fade">
    <!-- Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#Carousel-intro" data-slide-to="0" class="active"></li>
        <li data-target="#Carousel-intro" data-slide-to="1"></li>
        <!-- <li data-target="#Carousel-intro" data-slide-to="2"></li> -->

    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div style="background-image:url('{% static "img/gallery/9.jpg"%}');" class="fill">
                <div class="intro-body">
                    <h4 data-wow-delay=".4s" class="wow fadeInUp">Customized privacy solutions</h4>
                    <h1 class="wow fadeInDown">WINDOW CORNER</h1>
                    <div data-wow-delay="1s" class="scroll-btn hidden-xs wow fadeInDown"><a href="#about"
                            class="page-scroll"><span class="mouse"><span class="weel"><span></span></span></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div style="background-image:url('{% static "img/header/29.jpg"%}');" class="fill">
                <div class="intro-body">
                    <h4 class="wow fadeInUp">Window <span class="bold">Corner</span>
                    </h4>
                    <h1 class="wow fadeInDown">Build Unique Cozy Home !</h1>
                    <ul class="list-inline lead">
                        <li><a href="{% url 'about' %}" class="btn btn-border btn-lg page-scroll wow fadeInLeft"><i
                                    class="fa fa-chevron-down"></i> WHO WE ARE</a></li>
                        <li><a href="{% url 'contact' %}" class="btn btn-white btn-lg page-scroll wow fadeInRight"><i
                                    class="fa fa-chevron-down"></i> CONTACT US</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="item">
            <div style="background-image:url('{% static "img/gallery/9.jpg"%}');" class="fill">
                <div class="intro-body">
                    <h4 class="wow fadeInUp">Adventures in creativity</h4>
                    <h1 class="wow fadeInDown">Digital Agency</h1>
                    <div data-wow-delay="1s" class="scroll-btn hidden-xs wow fadeInDown"><a href="#about"
                            class="page-scroll"><span class="mouse"><span class="weel"><span></span></span></span></a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <!-- Controls--><a href="#Carousel-intro" data-slide="prev" class="left carousel-control"><span
            class="icon-prev"></span></a><a href="#Carousel-intro" data-slide="next"
        class="right carousel-control"><span class="icon-next"></span></a>
</header>
<!-- Slider-->
<!-- About-->
<section id="about" class="bg-dark2 section-small " style="background-color:#174E9C; color:#A9AABC">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Who We Are</h3>
                <p>Window Corner has more than 40 years of experience in façade and windows
                    field. First, we started in 1976 as AluBakir, a family business that offers
                    aluminum works and fabrications. We were among the first companies to
                    execute curtain walls and use high-end brands of aluminum profiles. Our aim
                    has always been to be the ultimate solution provider to reach an optimum
                    combination in terms of functionality and appearance. In 1998, with the introduction of PVC as an
                    alternative material into the Egyptian
                    market, we established a shareholding company called “Online” and extended our product range to
                    include Aluminum and PVC. Online
                    was also the first company in Egypt and the Middle East to use Fiberglass. Keeping our vision to
                    offer the best solution for all sectors,
                    Window Corner, a new brand, was introduced in 2012. It is specialized in residential facilities to
                    serve individual clients with all glass
                    works at home. Window Corner has a high level of customization and a dedicated team to meet each
                    individual’s own requirements.
                    We always seek to give an added value and offer our consultation to our clients to build a unique
                    cozy home.</p>
                <h2 class="classic">Window Corner</h2>
                <li><a href="{% url 'about' %}" class="btn btn-border btn-lg page-scroll">About Us </a></li>
            </div>
        </div>
    </div>
</section>
<section id="services" style="color:#174E9C">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Our products </h3>
                <p>Window Corner is a fabricator, capable of using all kinds of products to fulfil
                    the client’s desire in terms of Aesthetics, Safety & Security, Performance and Cost Optimization.
                    We have worked with more than 50 gated community compounds around Egypt including the most</p>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
            <div data-wow-delay=".1s" class="col-lg-3 col-sm-6 wow fadeIn"
                style="display:flex ; flex-direction: column ; align-items: center ; justify-content:center">
                <a href="{% url 'product' product.name %}">
                    <img src="{% static 'img/products/windows.jpg'%}" alt="" width="100" height="100"
                        style="border-radius: 50%; display:block  ">
                    <h4 class="product-title" style="color: #174E9C;">
                        {{product.name}}</h4>
                </a>
            </div>
            {% endfor %}




        </div>
        <li><a href="{%url 'products' %}" class="btn btn-white btn-lg bg-dark"
                style="padding-top: 15px ; padding-bottom: 15px; font-size: 1.2em">Check Our Products</a>
        </li>
    </div>
</section>
<!-- Quotes-->
<section class="quote section-small bg-img3 text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p><i class="icon fa fa-quote-left fa-lg"></i></p>
                <p>Window Corner is a brand made exclusively for individuals to be able to receive a well-tailored
                    solution depending on their own
                    house. Our key values are Trust and Integrity. We work on building a long term relationship with our
                    clients to play a partner and
                    advisor role on all levels starting from design till after-sales maintenance.</p>
                <!-- <h2 class="no-pad classic">Sir Walter Scott</h2> -->
            </div>
        </div>
    </div>
</section>

<!-- Portfolio-->
<section id="portfolio" class=" bg-grey no-pad-btm">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3> Our Gallary</h3>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="grid" class="row portfolio-items">
            <div data-groups="[&quot;architecture&quot;]" class="col-md-3 col-sm-6 no-pad">
                <div class="portfolio-item"><a href="{% static 'img/gallery/1.png' %}" title="Photo Caption"
                        class="swipebox"><img src="{% static 'img/gallery/1.png' %}" alt="">
                        <div class="portfolio-overlay">
                            <div class="caption">
                                <h5>Photo Caption</h5><span>Lorem ipsum dolor sit amet</span>
                            </div>
                        </div>
                    </a></div>
            </div>
            <div data-groups="[&quot;architecture&quot;]" class="col-md-3 col-sm-6 no-pad">
                <div class="portfolio-item"><a href="{% static 'img/gallery/2.jpg' %}" title="Photo Caption"
                        class="swipebox"><img src="{% static 'img/gallery/2.jpg' %}" alt="">
                        <div class="portfolio-overlay">
                            <div class="caption">
                                <h5>Photo Caption</h5><span>Lorem ipsum dolor sit amet</span>
                            </div>
                        </div>
                    </a></div>
            </div>
            <div data-groups="[&quot;architecture&quot;]" class="col-md-3 col-sm-6 no-pad">
                <div class="portfolio-item"><a href="{% static 'img/gallery/3.jpg' %}" title="Photo Caption"
                        class="swipebox"><img src="{% static 'img/gallery/3.jpg' %}" alt="">
                        <div class="portfolio-overlay">
                            <div class="caption">
                                <h5>Photo Caption</h5><span>Lorem ipsum dolor sit amet</span>
                            </div>
                        </div>
                    </a></div>
            </div>
            <div data-groups="[&quot;architecture&quot;]" class="col-md-3 col-sm-6 no-pad">
                <div class="portfolio-item"><a href="{% static 'img/gallery/4.jpg' %}" title="Photo Caption"
                        class="swipebox"><img src="{% static 'img/gallery/4.jpg' %}" alt="">
                        <div class="portfolio-overlay">
                            <div class="caption">
                                <h5>Photo Caption</h5><span>Lorem ipsum dolor sit amet</span>
                            </div>
                        </div>
                    </a></div>
            </div>
            <div data-groups="[&quot;architecture&quot;]" class="col-md-3 col-sm-6 no-pad">
                <div class="portfolio-item"><a href="{% static 'img/gallery/9.jpg' %}" title="Photo Caption"
                        class="swipebox"><img src="{% static 'img/gallery/9.jpg' %}" alt="">
                        <div class="portfolio-overlay">
                            <div class="caption">
                                <h5>Photo Caption</h5><span>Lorem ipsum dolor sit amet</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div data-groups="[&quot;architecture&quot;]" class="col-md-3 col-sm-6 no-pad">
                <div class="portfolio-item"><a href="{% static 'img/gallery/6.jpg' %}" title="Photo Caption"
                        class="swipebox"><img src="{% static 'img/gallery/6.jpg' %}" alt="">
                        <div class="portfolio-overlay">
                            <div class="caption">
                                <h5>Photo Caption</h5><span>Lorem ipsum dolor sit amet</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div data-groups="[&quot;architecture&quot;]" class="col-md-3 col-sm-6 no-pad">
                <div class="portfolio-item"><a href="{% static 'img/gallery/8.jpg' %}" title="Photo Caption"
                        class="swipebox"><img src="{% static 'img/gallery/8.jpg' %}" alt="">
                        <div class="portfolio-overlay">
                            <div class="caption">
                                <h5>Photo Caption</h5><span>Lorem ipsum dolor sit amet</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>




        </div>
    </div>
</section>
<!-- News Block-->
<section id="news" style="">
    <div class="container">
        <h3 class="pull-left" style="color: #174E9C;">Latest news</h3>
        <div class="pull-right">
            <h5><a href="{% url 'news' %}" style="color: #174E9C;">SEE ALL</a></h5>
        </div>
        <div class="clearfix"></div>
        <div class="row grid-pad">
            {% for post in posts %}
            <div class="col-sm-4"><a href="/news/{{post.slug}}"><img src="{{post.main_image.url}}" alt=""
                        class="img-responsive center-block">
                    <h5>{{post.title}}</h5>
                </a>
                <p>{{post.summary}}</p><a href="/news/{{post.slug}}" class="btn btn-gray btn-xs">Read
                    more</a>
            </div>
            {% endfor %}


        </div>
    </div>
</section>
<!-- Contact Section-->
<section id="contact" style="color:#174E9C ; background:#fff">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3>contact us</h3>
                <p>We always seek to give an added value and offer our consultation to our clients to build a unique
                    cozy home.</p>
                <hr>
                <h5><i class="fa fa-map-marker fa-fw fa-lg"></i> 4 Ghernata St., Roxy , Heliopolis , Cairo , Egypt.
                </h5>
                <h5><i class="fa fa-envelope fa-fw fa-lg"></i> <a
                        href="mailto:info@window-corner.com">info@window-corner.com</a>
                </h5>
                <h5><i class="fa fa-phone fa-fw fa-lg"></i>
                    <a href="">+20 109 009 0035 </a>
                </h5>
                <h5><i class="fa fa-phone fa-fw fa-lg"></i>
                    <a href="">+20 222 581 314 </a>
                </h5>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <h3>Say hello</h3>
                <!-- Contact Form - Enter your email address on line 17 of the mail/contact_me.php file to make this form work. For more information on how to do this please visit the Docs!-->
                <form id="contactForm" name="sentMessage" novalidate="">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="name" class="sr-only control-label">You Name</label>
                            <input id="name" type="text" placeholder="You Name" required=""
                                data-validation-required-message="Please enter name" class="form-control input-lg"><span
                                class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="email" class="sr-only control-label">You Email</label>
                            <input id="email" type="email" placeholder="You Email" required=""
                                data-validation-required-message="Please enter email"
                                class="form-control input-lg"><span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="phone" class="sr-only control-label">You Phone</label>
                            <input id="phone" type="tel" placeholder="You Phone" required=""
                                data-validation-required-message="Please enter phone number"
                                class="form-control input-lg"><span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="message" class="sr-only control-label">Message</label>
                            <textarea id="message" rows="2" placeholder="Message" required=""
                                data-validation-required-message="Please enter a message." aria-invalid="false"
                                class="form-control input-lg"></textarea><span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div id="success"></div>
                    <button type="submit" class="btn btn-dark">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Map Section-->
<div id="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.0501033493824!2d31.31325776459475!3d30.09275137324501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583e299c47d561%3A0xd93783d020a47f83!2sRoxy%20Square%2C%20El-Montaza%2C%20Heliopolis%2C%20Cairo%20Governorate!5e0!3m2!1sen!2seg!4v1610310025991!5m2!1sen!2seg"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
</div>
<!-- Action Section-->
<section class="action section-small bg-gray2">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-10" style="color:#174E9C">
                <h3 class="no-pad"><span class="bold">Window Corner </span> is your perfect choice !

                </h3>
            </div>
            <div class="col-md-2 text-right"><a href="{% static 'wincon-catalogue.pdf' %}" class="btn btn-blue">Download
                    Our Catalogue</a></div>
        </div>
    </div>
</section>
{% endblock %}