{% extends '../base.html' %}
{% load static  %}

{% block content %}
<header data-background="{% static 'img/header/17.jpg' %} " class="intro introhalf">
    <!-- Intro Header-->
    <div class="intro-body">
        <h1 class="no-pad">News</h1>
        <h4>Latest news</h4>
    </div>
</header>
<!-- News Block-->
<section id="news" class="section-small">
    <div class="container">
        <h3 class="pull-left">News</h3>
        <div class="pull-right">
            <h4>OUR LATEST NEWS</h4>
        </div>
        <div class="clearfix"></div>

        <div class="row grid-pad">
            {% for post in posts %}
            <div class="col-sm-6"><a href="/news/{{post.slug}}"><img src="{% static  'img/header/5.jpg' %}" alt=""
                        class="img-responsive center-block">
                    <h5>{{post.title}}</h5>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar vestibulum. Donec eleifend,
                    sem sed dictum mattis, turpis purus placerat</p><a href="/news/{{post.slug}}"
                    class="btn btn-gray btn-xs">Read more</a>
            </div>
            {% endfor %}



        </div>
    </div>
</section>
<!-- Pagination-->
<!-- <div class="section section-small bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <nav>
                    <ul class="pagination">
                        <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">&middot;&middot;&middot;</a><a href="#">38</a></li>
                        <li><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div> -->
<!-- Action Section-->
<!-- <div class="section action section-small bg-gray2">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-10">
                <h3 class="no-pad">Share your passion with the world!</h3>
            </div>
            <div class="col-md-2 text-right"><a
                    href="https://themeforest.net/item/universal-smart-multipurpose-html5-template/17268942"
                    class="btn btn-dark wow fadeInDown">Get Started</a></div>
        </div>
    </div>
</div> -->
{% endblock %}