<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Window Corner
        {% block title%} {% endblock %}
    </title>
    <link rel="icon" href="{% static 'img/ico.png' %}" type="image/icon type">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS-->
    <link href="{% static 'css/universal.css' %}" rel="stylesheet">
</head>
<style>
    ::marker {
        color: transparent
    }

    .btn {
        border-radius: 6px !important
    }
</style>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="top">
    <!-- Preloader-->
    <div id="preloader">
        <div id="status"></div>
    </div>
    <!-- Navigation-->
    <nav class="navbar navbar-universal navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-main-collapse"
                    class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a href="{% url 'index' %}" class="navbar-brand page-scroll">
                    <!-- Text or Image logo-->
                    <!-- <img src="{% static 'img/window.png' %}" alt="Window Corner " class="logo"><img
                        src="{% static 'img/window.png' %}" alt="Window Corner " class="logodark"
                        style=" height : 100%"> -->
                    WINDOW CORNER
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-main-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="hidden"><a href="#page-top"></a></li>
                    <li><a href="{%url 'index' %}">Home <span class="caret"></span></a>

                    </li>
                    <li><a href="{%url 'about' %}">About Us <span class="caret"></span></a>

                    </li>
                    <!-- <li><a href="#">Products<span class="caret"></span></a>
                    </li> -->
                    <li><a href="{% url 'news' %}">News <span class="caret"></span></a>

                    </li>

                    <li><a href="{% url 'contact' %}">Contact Us <span class="caret"></span></a>

                    </li>
                    <li class="menu-divider visible-lg">&nbsp;</li>
                    <li><a href="{% static 'wincon-catalogue.pdf'%}" target="_blank"
                            style=" font-weight:bold ; font-size : 1.2em">Catalogue
                        </a>

                    </li>




                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <!-- Footer Section-->
    <section class="section-small footer bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h5>About</h5>
                    <p>Window Corner has more than 40 years of experience in façade and windows
                        field. First, we started in 1976 as AluBakir, a family business that offers
                        aluminum works and fabrications.</p>
                </div>
                <div class="col-sm-2 col-sm-offset-1 footer-menu">
                    <h5>Company</h5>
                    <h6 class="no-pad"><a href="">Our Services</a></h6>
                    <h6 class="no-pad"><a href="">Our Clients</a></h6>
                    <h6 class="no-pad"><a href="{% url 'contact' %}">Contact Us</a></h6>

                </div>
                <div class="col-sm-2 footer-menu">
                    <h5>&nbsp;</h5>
                    <h6 class="no-pad"><a href="{% url 'about' %}">About us</a></h6>
                    <h6 class="no-pad"><a href="">Portfolio</a></h6>
                    <!-- <h6 class="no-pad"><a href="">Our Team</a></h6> -->
                    <!-- <h6 class="no-pad"><a href="register.html">Register</a></h6> -->
                </div>
                <div class="col-sm-3 text-right">
                    <h5>Our Clients </h5><span data-min="0" data-max="1258" data-delay="5" data-increment="3"
                        class="numscroller">0</span>
                </div>
            </div>
        </div>
    </section>
    <!-- footer small-->
    <!-- <div class="container-fluid footer-small bg-dark text-center">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <p data-wow-iteration="999" data-wow-duration="3s" class="wow flash"><a href="#page-top"
                        class="page-scroll"><i class="icon ion-ios-arrow-up fa-2x"></i></a></p>
                <ul class="list-inline">

                    <li><a href="https://www.facebook.com/window.corner/" target="_blank"><i
                                class="fa fa-facebook fa-fw fa-2x"></i></a></li>
                    <li><a href="/"><i class="fa fa-instagram fa-fw fa-2x"></i></a></li>

                </ul>

                <p class="small"><a href="">©2020 <i class="fa fa-heart fa-fw"></i>Brain
                        Analytica </a></p>
            </div>
        </div>
    </div> -->
    <section class="section-small footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h6>Powered By <a href="http://braineg.com"> Brain Analytica</a>
                    </h6>
                </div>
                <div class="col-sm-3 col-sm-offset-1">

                </div>
                <div class="col-sm-3 col-sm-offset-1 text-right">
                    <ul class="list-inline">
                        <li><a href="/"><i class="fa fa-twitter fa-fw fa-lg"></i></a></li>
                        <li><a href="https://facebook.com/window-corner" target="_blank"><i
                                    class="fa fa-facebook fa-fw fa-lg"></i></a></li>
                        <li><a href="https://instagram.com/window-corner"><i
                                    class="fa fa-instagram fa-fw fa-lg"></i></a>
                        </li>
                        <li><a href="/"><i class="fa fa-linkedin fa-fw fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery-->
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugin JavaScript-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/device.min.js' %}"></script>
    <script src="{% static 'js/form.min.js' %}"></script>
    <script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
    <script src="{% static 'js/jquery.shuffle.min.js' %}"></script>
    <script src="{% static 'js/jquery.parallax.min.js' %}"></script>
    <script src="{% static 'js/jquery.circle-progress.min.js' %}"></script>
    <script src="{% static 'js/jquery.swipebox.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.smartmenus.js' %}"></script>
    <script src="{% static 'js/map-darak.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <!-- Custom Theme JavaScript-->
    <script src="{% static 'js/universal.js' %}"></script>
</body>

</html>